{% extends 'student/base.html' %}

{% block content %}

<div class="container-fluid">
  <section>
    <div class="row m-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Total Bookings</h5>
            <hr>
            <div class="row">
              <div class="col-md-3 d-flex justify-content-around">
                <div class="rounded-circle bg-warning text-center row align-items-center"
                  style="height: 70px; width: 70px;">
                  <h2><i class="bi bi-people-fill text-center text-white"></i></h2>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-around">
                <div class="row text-center align-items-center">
                  <h1 class=" text-center font-size">{{ courses_count }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appoved</h5>
            <hr>
            <div class="row">
              <div class="col-md-3 d-flex justify-content-around">
                <div class="rounded-circle bg-success text-center row align-items-center"
                  style="height: 70px; width: 70px;">
                  <h2><i class="bi bi-people-fill text-center text-white"></i></h2>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-around">
                <div class="row text-center align-items-center">
                  <h1 class=" text-center font-size">{{ status_count }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Denied</h5>
            <hr>
            <div class="row">
              <div class="col-md-3 d-flex justify-content-around">
                <div class="rounded-circle bg-danger text-center row align-items-center"
                  style="height: 70px; width: 70px;">
                  <h2><i class="bi bi-people-fill text-center text-white"></i></h2>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-around">
                <div class="row text-center align-items-center">
                  <h1 class=" text-center font-size">5</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Courses</h5>
              <hr>
            </div>
            <div class="card-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Instrument</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for booking in bookings %}
                  <tr>
                    <td>{{ booking.firstname }} {{ booking.secondname }}</td>
                    <td>{{ booking.course_title }}</td>
                    {% if booking.status == 'approve' %}
                    <td class="text-success">{{ booking.status }}</td>
                    {% elif booking.status == 'deny' %}
                    <td class="text-danger">{{ booking.status }}</td>
                    {% else %}
                    <td class="text-info">{{ booking.status }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>

{% endblock %}