{% extends 'student/base.html' %}

{% block content %}

<div class="container-fluid">
  <section>
    <div class="row m-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Total Bookings</h5>
            <hr>
            <div class="row">
              <div class="col-md-3 d-flex justify-content-around">
                <div class="rounded-circle bg-warning text-center row align-items-center"
                  style="height: 70px; width: 70px;">
                  <h2><i class="bi bi-people-fill text-center text-white"></i></h2>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-around">
                <div class="row text-center align-items-center">
                  <h1 class=" text-center font-size">15</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appoved</h5>
            <hr>
            <div class="row">
              <div class="col-md-3 d-flex justify-content-around">
                <div class="rounded-circle bg-info text-center row align-items-center"
                  style="height: 70px; width: 70px;">
                  <h2><i class="bi bi-people-fill text-center text-white"></i></h2>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-around">
                <div class="row text-center align-items-center">
                  <h1 class=" text-center font-size">12</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Denied</h5>
            <hr>
            <div class="row">
              <div class="col-md-3 d-flex justify-content-around">
                <div class="rounded-circle bg-success text-center row align-items-center"
                  style="height: 70px; width: 70px;">
                  <h2><i class="bi bi-people-fill text-center text-white"></i></h2>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-around">
                <div class="row text-center align-items-center">
                  <h1 class=" text-center font-size">5</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Courses</h5>
              <hr>
            </div>
            <div class="card-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>

{% endblock %}