{% extends 'student/base.html' %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{myprofile.firstname}} {{myprofile.secondname}}</h5>
              <p class="text-muted mb-1">{{myprofile.userType}}</p>
              
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{myprofile.firstname}} {{myprofile.secondname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{myprofile.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(097) 234-5678</p>
                </div>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">lesson progress</span> per 100hrs
                  </p>
                  {% for instrument in mybookings %}
                    <p class="my-3" style="font-size: .77rem;">{{ instrument.course_title }}</p>
                    <div class="progress rounded" style="height: 5px;">
                        <div class="progress-bar" role="progressbar"
                            style="width: {{ instrument.duration }}%;"
                            aria-valuenow="{{ instrument.duration }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endfor %}
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>

        
      </div>
    </div>
  </section>
{% endblock %}




