{% extends 'tutor/base.html' %}

{% block content %}

<section class="container-fluid">
    
    <div class="row m-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Courses</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Description</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %} 
                            <tr>
                                <td>{{ course.course_title }}</td>
                                <td>{{ course.description }}</td>
                                <td>{{ course.duration }}</td>
                                <td class="d-flex"><a href="{{ url_for('course.delete_course', course_id = course.id) }}" class="btn btn-sm bg-danger text-white m-1">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Create New Course
                </div>
                <div class="card-body">
                    <div class="row justify-content-around">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <form method="post">
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-2">
                                <label for="inputEmail4">Course Title</label>
                                <Select class="form-control" name="course_title">
                                    <option value="">Choise an Instrument</option>
                                    <option value="Guitar">Guitar</option>
                                    <option value="Piona">Piona</option>
                                    <option value="Violin">Violin</option>
                                    <option value="Drums">Drums</option>
                                    <option value="Saxophone">Saxophone</option>
                                </Select>
                                <!-- <input type="text" class="form-control" id="inputEmail4" placeholder="Enter a title ..."
                                    name="course_title"> -->
                            </div>
                            <div class="form-group col-md-12 mb-2">
                                <label for="inputPassword4">Duration</label>
                                <input type="number" class="form-control" id="inputPassword4" placeholder="" name="duration">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-2">
                                <label for="inputCity">Description</label>
                                <textarea class="form-control" id="inputCity" rows="3" name="description"></textarea>
                            </div>
                        </div>
                        <input type="submit" value="create" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}