{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Timeline{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] }}" required />
  <label for="start">Start date:</label>
  <input type="date" id="start_Date" name="start_Date" min="2024-09-12" max="2025-02-20" />
  <label for="startTime">Start Time:</label>
  <input type="time" id="start_Time" name="start_Time" />
  <label for="start">End date:</label>
  <input type="date" id="end_Date" name="end_Date" min="2024-09-12" max="2025-02-20" />
  <label for="start-time">End Time:</label>
  <input type="time" id="end_Time" name="end_Time" />
  <label for="body">Description</label>
  <textarea name="description" id="body">{{ request.form['body'] }}</textarea>
  <input type="submit" value="Save" />
</form>
{% endblock %}
