<!DOCTYPE html>
<html>
<head>
  <title>Music Mentor Dashboard</title>
  <!-- <link rel="stylesheet" href="body.css"> </head> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
	<link rel="stylesheet" type="text/css" href="css/body.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>

  <nav>
  
    <ul>
      <li>LOGO</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Mentors</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>

  <section class="hero">
    <h1>Welcome to Music Mentor</h1>
    <p>Your journey to musical mastery starts here.</p>
    <button>Explore Courses</button>
  </section>

  <section class="featured-mentors">
    <h2>Featured Mentors</h2>
    <div class="dif-mentors">
      <div class="mentor-card">
        <img src="img/mask.jpg" alt="Mentor 1" class="profile-picture">
        <h3>Mentor Name</h3>
        <p>Specialization: Guitar</p>
      </div>
    
      <div class="mentor-card">
        <img src="img/violin-girl.jpg" alt="Mentor 2" class="profile-picture">
        <h3>Mentor Name</h3>
        <p>Specialization: Guitar</p>
      </div>
      
      <div class="mentor-card">
        <img src="img/sax-kid.jpg" alt="Mentor 3" class="profile-picture">
        <h3>Mentor Name</h3>
        <p>Specialization: Guitar</p>
      </div>
    </div>
    <button>More ...</button>
    
    </section>

  <section class="latest-blog-posts">
    <h2>Latest Blog Posts</h2>
    <div class="blog-post">
      <h3>Blog Post Title</h3>
      <!-- <div class="blog-post-cont"> -->
      <img src="img/music_class.jpg" alt="Blog Post" >
      <p>Brief description of the blog post.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat possimus nulla neque a accusantium sapiente blanditiis repudiandae, nam vitae? Illo fuga laudantium sit eligendi debitis cumque cupiditate et, odit consequatur.</p>
      <!-- </div> -->
      <a href="#">Read More</a>
    </div>
    </section>

  <footer>
    <p>&copy; 2023 Music Mentor</p>
    <ul>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </footer>

</body>
</html>
