<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Musical Mentor</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='img/guitar-kid.jpg') }}" rel="icon">
  <!-- <link href="{{ url_for('static',filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon"> -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
</head>
<body class="index-page">

    <header id="header" class="header d-flex align-items-center sticky-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
  
        <a href="index.html" class="logo d-flex align-items-center">
          <h1 class="sitename">Musical Mentor</h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{{ url_for('index')}}" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#blog-posts">Blog</a></li>
            <li><a href="{{url_for('auth.register')}}">Register</a></li>
            <li><a href="{{url_for('auth.login')}}">Login</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
  
      </div>
    </header>
  
    <main class="main">
  
      <!-- About Section -->
      <section id="about" class="about section">
  
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
              <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                  {
                    "loop": true,
                    "speed": 600,
                    "autoplay": {
                      "delay": 5000
                    },
                    "slidesPerView": "auto",
                    "pagination": {
                      "el": ".swiper-pagination",
                      "type": "bullets",
                      "clickable": true
                    },
                    "breakpoints": {
                      "320": {
                        "slidesPerView": 1,
                        "spaceBetween": 40
                      },
                      "1200": {
                        "slidesPerView": 1,
                        "spaceBetween": 1
                      }
                    }
                  }
                </script>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="{{ url_for('static',filename='img/guitar-kid.jpg') }}" alt="Image" class="img-fluid">
                  </div>
                  <div class="swiper-slide">
                    <img src="{{ url_for('static',filename='img/violin-boy.jpg') }}" alt="Image" class="img-fluid">
                  </div>
                  <div class="swiper-slide">
                    <img src="{{ url_for('static',filename='img/drum-kid.jpg') }}" alt="Image" class="img-fluid">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <span class="section-subtitle" data-aos="fade-up">Welcome</span>
              <h1 class="mb-4" data-aos="fade-up">
                Learn music, Your way!!!
              </h1>
              <p data-aos="fade-up">
                Have you ever dreamed of learning a musical instrument?
 We believe that everyone deserves the opportunity to explore their musical passions. Connect with experienced tutors, master your instrument, and ignite your creativity. 
 Whether you're a beginner or an advanced musician, our platform offers personalized instruction and flexible scheduling to fit your lifestyle. 
 Let's embark on this musical journey together!
              </p>
              <p class="mt-5" data-aos="fade-up">
                <a href="#" class="btn btn-get-started">Get Started</a>
              </p>
            </div>
          </div>
        </div>
      </section><!-- /About Section -->
  
      <!-- About 2 Section -->
      <section id="about-2" class="about-2 section light-background">
  
        <div class="container">
          <div class="content">
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
                <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
                  <div class="img">
                    <img src="{{ url_for('static',filename='img/musician.jpg') }}" alt="circle image" class="img-fluid">
                  </div>
                </div>
              </div>
  
              <div id="about" class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
                <div class="px-3">
                  <span class="content-subtitle">About</span>
                  <h2 class="content-title text-start">
                    Discover Your Inner Musician
                  </h2>
                  <p class="lead">
                    Our mission is to make learning music accessible and enjoyable for everyone, regardless of their experience level or location. 
                    With Music Mentor, you can find a personalized tutor, schedule convenient lessons, and embark on a fulfilling musical journey. 
                    Our platform is designed to provide a supportive and engaging learning environment, helping you achieve your musical goals.
                  </p>
                  <p>
                    <a href="#" class="btn-get-started">Get Started</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- /About 2 Section -->
  
    
      <!-- Stats Section -->
      <section id="stats" class="stats section light-background">
  
        <div class="container">
  
          <div class="row gy-4 justify-content-center">
  
            <div class="col-lg-5">
              <div class="images-overlap">
                <img src="{{ url_for('static',filename='img/clarinet-kids.jpg') }}" alt="student" class="img-fluid img-1" data-aos="fade-up">
              </div>
            </div>
  
            <div class="col-lg-4 ps-lg-5">
              <span class="content-subtitle">Why Us</span>
              <h2 class="content-title">Learn from the Best, Anytime, Anywhere!!!</h2>
              
                <ul>
                  <li>Personalized instruction tailored to your goals and learning style</li>
                  <li>Flexible scheduling that fits your busy life</li>
                  <li>Affordable rates with no hidden fees</li>
                  <li>Connect with experienced and passionate music tutors</li>
                  <li>Learn from the comfort of your own home</li>
                </ul>
                
            </div>
  
          </div>
  
        </div>
      </section><!-- /Stats Section -->
  
      <!-- Blog Posts Section -->
      <section id="blog-posts" class="blog-posts section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <p>Recent Posts</p>
          <h2>Blog Posts</h2>
        </div><!-- End Section Title -->
        <div class="container">
  
          <div class="row gy-4">
            <div class="col-md-6 col-lg-4">
              <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
                <a href="#" class="thumb d-block"><img src="{{ url_for('static',filename='img/img_h_4.jpg') }}" alt="Image" class="img-fluid rounded"></a>
  
                <div class="post-content">
                  <div class="meta">
                    <a href="#" class="cat">Development</a> •
                    <span class="date">July 20, 2024</span>
                  </div>
                  <h3><a href="#">Tips for Practicing Effectively</a></h3>
                  <p>
                    "Consistent practice is essential for improving your musical skills.
                    In this post, we'll share some effective practice techniques to help you make the most of your time."
                  </p>
  
                  <div class="d-flex author align-items-center">
                    <div class="pic">
                      <img src="{{ url_for('static',filename='img/team/team-3.jpg') }}" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div class="author-name">
                      <strong class="d-block">Lyod Semo</strong>
                      <span class="">Guitar</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4">
              <div class="post-entry" data-aos="fade-up" data-aos-delay="200">
                <a href="#" class="thumb d-block"><img src="{{ url_for('static',filename='img/img_h_2.jpg') }}" alt="Image" class="img-fluid rounded"></a>
  
                <div class="post-content">
                  <div class="meta">
                    <a href="#" class="cat">Development</a> •
                    <span class="date">August 30, 2024</span>
                  </div>
                  <h3><a href="#">The Benefits of Learning a Musical Instrument</a></h3>
                  <p>
                    "Learning a musical instrument offers numerous cognitive,
                    emotional, and social benefits. 
                    In this post, we'll explore some of the key advantages of embarking on a musical journey."
                  </p>
  
                  <div class="d-flex author align-items-center">
                    <div class="pic">
                      <img src="{{ url_for('static',filename='img/team/team-2.jpg') }}" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div class="author-name">
                      <strong class="d-block">Andrew Kimaru</strong>
                      <span class="">Saxophone</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4">
              <div class="post-entry" data-aos="fade-up" data-aos-delay="300">
                <a href="#" class="thumb d-block"><img src="{{ url_for('static',filename='img/img_h_3.jpg') }}" alt="Image" class="img-fluid rounded"></a>
  
                <div class="post-content">
                  <div class="meta">
                    <a href="#" class="cat">Development</a> •
                    <span class="date">September 10, 2024</span>
                  </div>
                  <h3><a href="#">Choosing the Right Music Tutor</a></h3>
                  <p>
                    "Selecting the right music tutor is crucial for a successful learning experience. 
                    In this post, we'll provide tips on how to find a tutor who aligns with your goals and learning style."
                  </p>
  
                  <div class="d-flex author align-items-center">
                    <div class="pic">
                      <img src="{{ url_for('static',filename='img/team/team-1.jpg') }}" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div class="author-name">
                      <strong class="d-block">Allan Kertich</strong>
                      <span class="">Piano</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- /Blog Posts Section -->
  
  
      <!-- Testimonials Section -->
      <section id="testimonials" class="testimonials section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <p>Happy Customers</p>
          <h2>Testimonials</h2>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                  {
                    "loop": true,
                    "speed": 600,
                    "autoplay": {
                      "delay": 5000
                    },
                    "slidesPerView": "auto",
                    "pagination": {
                      "el": ".swiper-pagination",
                      "type": "bullets",
                      "clickable": true
                    },
                    "breakpoints": {
                      "320": {
                        "slidesPerView": 1,
                        "spaceBetween": 40
                      },
                      "1200": {
                        "slidesPerView": 1,
                        "spaceBetween": 1
                      }
                    }
                  }
                </script>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial mx-auto">
                      <figure class="img-wrap">
                        <img src="{{ url_for('static',filename='img/testimonials/testimonials-1.jpg') }}" alt="Image" class="img-fluid">
                      </figure>
                      <h3 class="name">Allan Kertich</h3>
                      <blockquote>
                        <p>
                          "I've been taking lessons with [Tutor's Name] for a few months now, and I'm so impressed! 
                    They're incredibly patient and have helped me improve my guitar skills significantly. 
                    I highly recommend them to anyone looking for a great music tutor."
                        </p>
                      </blockquote>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial mx-auto">
                      <figure class="img-wrap">
                        <img src="{{ url_for('static',filename='img/testimonials/testimonials-2.jpg') }}" alt="Image" class="img-fluid">
                      </figure>
                      <h3 class="name">Lyod Semo</h3>
                      <blockquote>
                        <p>
                          "Finding a tutor who could match my busy schedule was a challenge until I discovered [App Name]. 
                          I've been able to connect with a fantastic tutor who's helped me learn the piano at my own pace. 
                          It's been a great experience!"
                        </p>
                      </blockquote>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial mx-auto">
                      <figure class="img-wrap">
                        <img src="{{ url_for('static',filename='img/testimonials/testimonials-3.jpg') }}" alt="Image" class="img-fluid">
                      </figure>
                      <h3 class="name">Kayla Kimaru</h3>
                      <blockquote>
                        <p>
                          "As a tutor, I've found [App Name] to be an excellent platform for connecting with students. 
                          The scheduling system is easy to use, and I've been able to build a steady client base. 
                          I highly recommend it to other music tutors."
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Testimonials Section -->
  
    </main>
  
    <footer id="footer" class="footer light-background">
      <div class="container">
        <div class="row g-4">
          <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
            <div class="widget">
              <h3 class="widget-heading">About Us</h3>
              <p class="mb-4">
                Your Musical Journey Starts Here
              </p>
              <p class="mb-0">
                <a href="#" class="btn-learn-more">Learn more</a>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
            <div class="widget">
              <h3 class="widget-heading">Navigation</h3>
              <ul class="list-unstyled float-start me-5">
                <li><a href="#">Overview</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Find Buyers</a></li>
              </ul>
              <ul class="list-unstyled float-start">
                <li><a href="#">Overview</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 pl-lg-5">
            <div class="widget">
              <h3 class="widget-heading">Recent Posts</h3>
              <ul class="list-unstyled footer-blog-entry">
                <li>
                  <span class="d-block date">May 3, 2020</span>
                  <a href="#">Learn an Instrument</a>
                </li>
                <li>
                  <span class="d-block date">May 3, 2020</span>
                  <a href="#">Driven By Passion</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 pl-lg-5">
            <div class="widget">
              <h3 class="widget-heading">Connect</h3>
              <ul class="list-unstyled social-icons light mb-3">
                <li>
                  <a href="#"><span class="bi bi-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="bi bi-twitter-x"></span></a>
                </li>
                <li>
                  <a href="#"><span class="bi bi-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="bi bi-google"></span></a>
                </li>
                <li>
                  <a href="#"><span class="bi bi-google-play"></span></a>
                </li>
              </ul>
            </div>
  
            <div class="widget">
              <div class="footer-subscribe">
                <h3 class="widget-heading">Subscribe</h3>
                <form action="forms/newsletter.php" method="post" class="php-email-form">
                  <div class="mb-2">
                    <input type="text" class="form-control" name="email" placeholder="Enter your email">
  
                    <button type="submit" class="btn btn-link">
                      <span class="bi bi-arrow-right"></span>
                    </button>
                  </div>
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your subscription request has been sent. Thank you!
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  
        <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
          <p>© <span>Copyright</span> <strong class="px-1 sitename">Active.</strong> <span>All Rights Reserved</span></p>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="">Allan Kertich</a>
          </div>
        </div>
      </div>
    </footer>
  
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Preloader -->
    <!-- <div id="preloader"></div> -->
  
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  
    <!-- Main JS File -->
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  
  </body>
</html>