<!DOCTYPE html>
<html>
<head>
<title>My Profile</title>
    <!-- <link rel="stylesheet" href="/static/css/profile.css"> -->
    <link rel="stylesheet" type="text/css" href="css/body.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>

<body>

    <nav>
  
        <!-- <p>LOGO</p> -->
    
        <ul>
          <li>LOGO</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Mentors</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Login</a></li>
        </ul>
    </nav>
    
      
    <div class="profile">
        <img src="/home/kertich/bottle/new_website/img/violin.jpg" alt="Profile Picture" class="profile-picture">
        <h1>Your Name</h1>
        <p>Email: your_email@example.com</p>
        <p>Age: 30</p>
        <p>Gender: Male</p>
        <p>Music Instrument: Guitar</p>
        <p>Level of Experience: Intermediate</p>
        <p>Location: City, Country</p>
        <p>Bio: This is a brief description about myself.</p>
        <button>Update Profile</button>
    </div>

    <footer>
        <p>&copy; 2023 Music Mentor</p>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </footer>

</body>
</html>