{% extends 'auth_base.html' %} 

{% block content %}
<div class="card-header">
  <h3>Register New User</h3>
</div>
<div class="card-body">
  <form method="post">
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="text" name="firstname" class="form-control" placeholder="First name" />
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="text" name="secondname" class="form-control" placeholder="Second Name" />
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <select name="userType" class="form-control" id="">
        <option value="student">student</option>
        <option value="tutor">tutor</option>
      </select>
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="email" name="email" class="form-control" placeholder="Email" />
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input type="password" name="password" class="form-control" placeholder="password" />
    </div>
    <div class="row align-items-center remember">
      <input type="checkbox" />Remember Me
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn float-right login_btn" />
    </div>
  </form>
</div>
<div class="card-footer">
  <div class="d-flex justify-content-center links">
    You Have an account?<a href="{{ url_for('auth.login') }}">Login In</a>
  </div>
  <!-- <div class="d-flex justify-content-center">
    <a href="#">Forgot your password?</a>
  </div> -->
</div>

{% endblock %}


