{% extends 'student/base.html' %}

{% block content %}

<section class="container-fluid">
    <div class="row justify-content-around"></div>
        {% for message in get_flashed_messages() %}
        <div class="flash text-danger">{{ message }}</div>
      {% endfor %}
    </div>
    <div class="row m-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Bookings</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Tutor</th>
                                <th>Description</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %} 
                            <tr>
                                <td>{{ course.course_title }}</td>
                                <td>{{ course.firstname }} {{ course.secondname }}</td>
                                <td>{{ course.description }}</td>
                                <td>{{ course.duration }}</td>
                                <td><a href="{{ url_for('bookings.sessionBooking', course_id = course.course_id, tutor_id=course.tutor_id) }}" class="btn btn-sm bg-success text-white">Book</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

</section>

{% endblock %}